body {
  font-family: Futura, Helvetica, Arial, sans-serif;
  color: #444;
  background-image: url(./me.png);
  background-size: cover;
}

h1 {
  font-weight: normal;
}

#container {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* height: 300vh; */
}

h1{
  box-shadow: #444;
  color: rgb(88, 122, 65);
  border: 2px solid rgb(15, 155, 160);
  justify-content: center;
  padding: 2px;
  margin-top: 2px;
}

.board{
  width: 500px;
  height: 500px;
  border-radius: 3px;
  border: 5px solid green ;
  padding: 20px;
}

#board{
  border-collapse: collapse;
}

#board td{
  border: 1px solid #635c5c;
  width: 18px;
  height: 18px;
}

td.alive {
  background-color: #82a71e;
}

#control_panel {
  margin: 10px 0 50px 0;
}

.button {
  padding: 0.85em 1em;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 0.9em;
  text-align: center;
  background-color: #2ba6cb;
  color: #fefefe; 
}

.button:hover, .button:focus {
  background-color: #258dad;
}

.button:focus {
  outline: dashed 1px #2ba6cb;
}

p, a{
  color: white;
}